<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    
<body>
    
    <div id="menu-container" class="menu-container">

     <div id="File" class="menu">File</div>
     <div id="Home" class="menu">Home</div>
    </div>
    <div id="menu-option-container" class="menu-option-container">

        <div id="File-menu-options" class="menu-options">
            <div id="new">New</div>
            <div id="open">Open</div>
            <div id="save">Save</div>
        </div>
        
           
            <div id="formatting-col" class="Home">
                
                    <select  id="font-family">
                        <option value="cursive">cursive</option>
                        <option value="arial">Arial</option>
                        <option value="sans-serif">Sans-serif</option>
                        <option value="monospace">Monospace</option>
                        <option value="serif">Serif</option>
                    </select>
                    <!-- <div id="p"> asasa</div> -->
                    <select  id="font-size">
                        <option value="12">12</option>
                        <option value="20">20</option>
                        <option value="32">32</option>
                        <option value="44">44</option>
                    </select>
            </div>
            <div id="secondpart" class="secondpart">
                <div class="style-row" id="style-row">
                   
                        <p id="bold" style="font-size:21px;"> B</p> 
                        <p id="underline" style="font-size:21px;"> U</p>
                        <p id="italic"><img src="C:\Users\paramveer singh\Desktop\italianfinal.jpg"  width="20" height="30"></p>
                </div>
                <div class="style-color" id="style-color">
                <p id="paint"><img src="C:\Users\paramveer singh\Desktop\paintbrush.jpg"  width="20" height="30"></p>
                <p id="a" style="font-size:21px;"> A</p>
                <input type="color" id="b-color" >
                <input type="color" id="font-color">
            </div>
                
           
        </div> 
        <div id="thirdpart" class="thirdpart">
            
          
               <p id="ar" style="font-size:18px;"> Alignment</p>
           
            
               <p id="alli-3"><img src="C:\Users\paramveer singh\Desktop\allignment-3.jpg"  width="30" height="30"></p>
               <p id="alli-2"><img src="C:\Users\paramveer singh\Desktop\allignment-2.jpg"  width="30" height="30"></p>
               <p id="alli-1"><img src="C:\Users\paramveer singh\Desktop\allignment-1.jpg"  width="30" height="30"></p>
            
        </div>
              
        <div id="clipboard">
               <p id="paste"><img src="C:\Users\paramveer singh\Desktop\pasteicon1.png"  width="30" height="30"></p>
            <p id="copy"><img src="C:\Users\paramveer singh\Desktop\pocy.png"  width="30" height="30"></p>
               <p id="cut"><img src="C:\Users\paramveer singh\Desktop\cutfinal.jpg"  width="30" height="30"></p>
               <p id="clip" style="font-size:18px;"> Clipboard</p> -->
        </div> 
            
           
           
            
    
        </div>
    </div>
    <div id="formula-container" class="formula-container">
        <input type="text" id="address-input" class="address-input">
        <input type="text" id="formula-input" class="formula-input">
      
    </div>
    <div id="cell-container" class="cell-container">
        <div id="t1-cell" class="t1-cell"></div>
        <div id="top-row" class="top-row">
            <%for(let i=0;i<cols;i++){%>
                <div class="cell">
                    <%=String.fromCharCode(i+65)%>      
                </div>  
            <%}%>
        </div>
        <div id="left-col" class="left-col">
            <%for(let j=0;j<rows;j++){%>

              <div class="cell">
                  <%=j+1%>
              </div>
                <%}%>
        </div>

        <div id="grid" class="grid">
        <%for(let i=0;i<rows;i++){%>
          <div class="row">
            <%for(let j=0;j<cols;j++){%>
                <div class="cell" contenteditable="true" rid=<%=i%> cid=<%=j%>>
                </div>
            <%}%>
          </div>
        <%}%>
    </div>
  
</ivd>

    <div id="sheets" class="sheets"> </div>
    <script src="script1.js"></script>
        
</body>
</html>
